@model Application.Areas.Identity.Models.UserRegistrationDto

@{
    ViewData["Title"] = "Добавление пользователя";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Administration" asp-controller="Home" asp-action="Index">Админ-панель</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Пользователи</a></li>
        <li class="breadcrumb-item active" aria-current="page">Добавление пользователя</li>
    </ol>
</nav>

<h1>Добавление пользователя</h1>
<p class="text-muted">Добавьте нового пользователя</p>

<form asp-action="Create">
    <div class="row mb-2">
        <div class="col-12 col-xl-6">
            <div class="form-floating">
                <input asp-for="UserName" type="text" class="form-control" placeholder="Имя пользователя" autocomplete="username" aria-required="true" />
                <label asp-for="UserName">Имя пользователя <span class="text-danger">*</span></label>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 col-xl-6">
            <div class="form-floating">
                <input asp-for="Email" type="email" class="form-control" placeholder="Почта" autocomplete="email" aria-required="true" />
                <label asp-for="Email">Почта <span class="text-danger">*</span></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 col-xl-6">
            <div class="row">
                <div class="col-6">
                    <div class="form-floating">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Пароль" aria-required="true" autocomplete="password" />
                        <label asp-for="Password">Пароль <span class="text-danger">*</span></label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating">
                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Подтверждение пароля" aria-required="true" />
                        <label asp-for="ConfirmPassword">Подтверждение пароля <span class="text-danger">*</span></label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 col-xl-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-6">
            <div class="float-end">
                <a asp-action="Index" class="btn btn-outline-secondary px-4">Назад</a>
                <input type="submit" value="Добавить" class="btn btn-primary px-5" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
