@model IEnumerable<Application.Models.User>

@{
    ViewData["Title"] = "Пользователи";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home">Админ-панель</a></li>
        <li class="breadcrumb-item active" aria-current="page">Пользователи</li>
    </ol>
</nav>

<div class="d-inline-flex align-items-center">
    <h1><span>Пользователи</span><span class="text-muted fw-normal mx-2">(@Model.Count())</span></h1>
    <a class="btn btn-primary px-4 mx-3" asp-action="Create">&plus; Добавить приоритет</a>
</div>
<p class="text-muted">Добавляйте новых пользователей, изменяйте их информацию или удаляйте</p>

<table class="table">
    <thead>
        <tr>
            <th class="col">Имя пользователя</th>
            <th class="col">Email</th>
            <th class="col">Номер телефона</th>
            <th class="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.PhoneNumber)
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>