@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-dark">Здравствуйте, @User.Identity?.Name!</span>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-controller="Identity" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link text-dark">Выйти</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-controller="Identity" asp-action="Register">Зарегистрироваться</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-controller="Identity" asp-action="Login">Войти</a>
        </li>
    }
</ul>
