@using Microsoft.AspNetCore.Identity
@model Application.Models.ToDoItem
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Главная</li>
        </ol>
    </nav>

    <h1>Главная</h1>
}
else
{
    <div class="text-center mt-5">
        <h1 class="display-3">ToDo Application</h1>
        <p class="text-muted">Пожалуйста войдите в систему, чтобы продолжить</p>
    </div>
}