@model Application.Models.Priority

@{
    ViewData["Title"] = "Удаление приоритета";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Administration" asp-controller="Home" asp-action="Index">Админ-панель</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Приоритеты задач</a></li>
        <li class="breadcrumb-item active" aria-current="page">Удаление приоритета</li>
    </ol>
</nav>

<h1>Удаление приоритета</h1>
<p class="text-muted">Удалите значение приоритета (При удалении приоритета он также будет удален из всех задач)</p>

<div class="row mb-2">
    <div class="col-12 col-xl-6">
        <div>
            <label asp-for="Level" class="form-label">Уровень приоритета</label>
            <input asp-for="Level" readonly class="form-control" placeholder="Уровень приоритета" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-xl-6 d-flex justify-content-between">
        <span class="text-danger col">Вы уверены, что хотите удалить данный приоритет?</span>
        <form asp-action="Delete" class="d-inline-block col-auto">
            <input type="hidden" asp-for="Id" />
            <a asp-action="Index" class="btn btn-outline-secondary px-4">Назад</a>
            <input type="submit" value="Удалить" class="btn btn-danger px-5" />
        </form>
    </div>
</div>