@model Application.Models.User

@{
    ViewData["Title"] = "Вход в систему";
}

<div class="d-flex justify-content-center mt-5 mb-5">
    <h1 class="d-inline-block">Войти в систему</h1>
</div>

<form asp-action="Login" method="post">
    <input hidden name="returnUrl" value="@ViewData["ReturnUrl"]" />

    <div class="row mb-2">
        <div class="col-12 col-xl-6 m-auto">
            <div class="form-floating">
                <input asp-for="Email" class="form-control" placeholder="Почта" />
                <label asp-for="Email">Почта</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 col-xl-6 m-auto">
            <div class="form-floating">
                <input name="password" class="form-control" placeholder="Пароль" type="password" />
                <label for="password">Пароль</label>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 col-xl-6 m-auto">
            <div class="float-end">
                <input type="submit" value="Войти" class="btn btn-primary px-5" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-6 m-auto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
