@{
    ViewData["Title"] = "Админ-панель";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Админ-панель</li>
    </ol>
</nav>

<h1>Админ-панель</h1>

<nav class="row">
    <a asp-controller="Priorities" asp-action="Index" class="btn btn-outline-primary">Приоритеты</a>
    <a asp-controller="Users" asp-action="Index" class="btn btn-outline-primary">Пользователи</a>
</nav>