@{
    ViewData["Title"] = "Админ-панель";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Админ-панель</li>
    </ol>
</nav>

<h1>Админ-панель</h1>

<nav class="navbar">
    <a asp-controller="Priorities" class="btn btn-outline-primary">Приоритеты</a>
</nav>